 <div class="container">
    
    <div class="row col-md-offset-1">
        <div class = "col-md-9 ">
            <%= render 'shared/errors', obj: @user%>
            <%= form_for @user do|f|%>
                <div class = "form-group">
                    <%= f.label :username, class: "control-label col-sm-2" %>
                    <div class = "input-group col-sm-10">
                        <%= f.text_field :username, class: "form-control", placeholder: "Enter a username" %>
                    </div> 
                </div>

                <div class = "form-group">
                    <%= f.label :email, class: "control-label col-sm-2" %>
                    <div class = "input-group col-sm-10">
                        <%= f.email_field :email, class: "form-control", placeholder: "Enter you email address" %>
                    </div>
                </div>

                <div class = "form-group">
                    <%= f.label :password, class: "control-label col-sm-2" %>
                    <div class = "input-group col-sm-10">
                        <%= f.password_field :password, class: "form-control", placeholder: "Choose a password" %>
                    </div>
                </div>


                <div class = "form-group">
                    <%= f.label :password_confirmation, class: "control-label col-sm-2" %>
                    <div class = "input-group col-sm-10">
                        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Choose a password" %>
                    </div>
                </div>

                <div class = "form-group">
                    <%= f.submit(@user.new_record? ? "Sign up" : "Update account", class: "btn btn-lg")%>
                </div>
            <% end %>

            <%= link_to '[Cancel and return to articles listing]', articles_path%>
        </div>
    </div>
</div>
 <%#= form_for :article, url: {action: :update}, method: :patch do|f|%>
 <%#= form_for :article, url: article_path do|f|%>